<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>@ViewData["Title"] - RagnarockGasolin</title>
    <script type="importmap"></script>
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="~/js/modal.js" asp-append-version="true"></script>
    <script defer src="~/js/audio.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Young+Serif&display=swap" rel="stylesheet">
    

</head>
<body class="d-flex flex-column">
    <header class="sticky-top bg-black">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand limelight" href="/">
                    <img src="~/images/gas-logo2.png" class="logo" alt="Gasolin slogan"/>
                    <span class="d-none d-sm-inline">Ragnarock GASOLIN'</span>             
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/historie">Historie</a>
                        </li>               
                        <li class="nav-item">
                            <a class="nav-link" href="/udstilling">Udstilling</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Medlemmer
                             </a>
                            <ul class="dropdown-menu bg-black">
                                <li><a class="dropdown-item" href="/kim-larsen">Kim Larsen</a></li>
                                <li><a class="dropdown-item" href="/wili-joensson">Wili Joensson</a></li>
                                <li><a class="dropdown-item" href="/franz-beckerlee">Franz Beckerlee</a></li>
                                <li><a class="dropdown-item" href="/soeren-berlev">Søren Berlev</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Media">Medier</a>
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="bg-white text-black text-lg-start">
        <p class="p-3 text-center mb-0">
            &copy; All Rights Reserved 2026, Danmarks Rockmuseum
        </p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
