/* colors */
:root {
  --bs-primary: #fae67a;
  --bs-primary-rgb: 250, 230, 122;

  --bs-body-bg: #090700;
  --bs-body-rgb: 9, 7, 0;

  --bs-body-color: #fdf7d0;

}

/* global */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* carousel */
.band-member-content {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel-img {
  aspect-ratio: 5 / 3;
}

.qrcode-image {
  max-width: 16rem;
  border-radius: 1rem;
}

/* obects */

.objects-section {
    display: flex; /* This aligns children side-by-side */
    align-items: center; /* Vertically centers the text against the photo */
    gap: 20px; /* Adds space between the photo and text */
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto; /* Centers the section on the page */
}

.image-container {
    flex: 1; /* Takes up 50% of the space */
}

    .image-container img {
        width: 100%; /* Makes the image responsive */
        height: auto;
        border-radius: 8px;
    }

.text-container {
    flex: 1; /* Takes up the other 50% */
}

/* Responsive Hack: Stack them on mobile devices */
@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
    }
}




height-50 {
    aspect-ratio: 3/1!important;
    object-fit: cover;
}

kat