/* colors */
:root {
  --bs-primary: #fae67a;
  --bs-primary-rgb: 250 230 122;

  --bs-body-bg: #090700;
  --bs-body-rgb: 9 7 0;

  --bs-body-color: #fdf7d0;
  --bs-body-color-rgb: 253 247 208;
}
/* fonts */
.limelight {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* global */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-body-color);
  --bs-btn-hover-border-color: var(--bs-body-color);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-body-color);
  --bs-btn-active-border-color: var(--bs-body-color);
  --bs-btn-disabled-color: unset;
  --bs-btn-disabled-bg: unset;
  --bs-btn-disabled-border-color: unset;

  color: var(--bs-body-bg);
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}

html {
  position: relative;
  min-height: 100%;
  scroll-padding-top: 110px;
}

header{
    background-color: black;
    position:sticky;
    top:0;
    z-index:999;
}

body {
    padding-top: 110px;
    margin-bottom: 60px;
    position: relative;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*NAV BAR______________________________________________________*/
.navbar-brand {
  color: var(--bs-body-color);
  transition: opacity 150ms;
  

  &:hover, &:focus {
    color: var(--bs-body-color);
    opacity: 0.8;
  }
}

.nav-link {
    color: var(--bs-body-color);
    font-weight:500;
    transition: opacity 150ms;

   
    &:hover, &:focus {
        color: var(--bs-body-color);
        opacity: 0.8;
    }
}

.navbar-nav .nav-link.active {
    color: var(--bs-body-color);
    font-weight: 500;

    }

.logo{
    width: 150px;
}

.navbar-toggler-icon {
  filter: brightness(1000%) sepia();
}

/* NAV BAR END___________________________________________________*/

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* carousel */
.band-member-content {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.carousel-img {
  aspect-ratio: 5 / 3;
}

.qrcode-image {
  max-width: 12rem;
  border-radius: 1rem;
}

/* band members biography */
.biography-grid {
  position: relative;
  display: grid;
  gap: 1rem;

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*CARDS*/
.card .btn{
    margin-top: auto;
}

/* obects ________________________________________________________________________________*/
.title {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 40px;
    position: relative;
}

.objects-section {
    display: grid; /* This aligns children side-by-side */
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; Vertically centers the text against the photo */
    gap: 20px; /* Adds space between the photo and text */
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto; /* Centers the section on the page */
}

.image-container {
    flex: 1; /* Takes up 50% of the space */
}

    .image-container img {
        width: 100%; /* Makes the image responsive */
        height: auto;
        border-radius: 8px;
    }

.text-container {
    flex: 1; /* Takes up the other 50% */
    
}

/* Responsive Hack: Stack them on mobile devices */
@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
    }
}

.card-img-top {
    width: 100%; /* Ensure it spans the card width */
    aspect-ratio: 4 / 3; /* Forces the 4:3 shape */
    object-fit: cover; /* Crops the image slightly so it doesn't look squashed */
    object-position: center; /* Ensures the middle of the guitar is visible */
}






.img-300 {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

