@page
@model RagnarockGasolin.Pages.CardsModel
@{
}

<h1>EXHIBITION ITEMS</h1>
<div class="cards-section">
    <section>
        <div class="card">
            <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
            <div class="card-body">
                <h5 class="card-title">Gibson Les Paul Junior</h5>
                <p class="card-text">The Les Paul Junior was part of Kim Larsen's arsenal during the peak years of Gasolin', which ran from 1969 to 1978. The Gibson Les Paul Junior is a "no-frills" rock guitar from the mid-50s (originally introduced in 1954) equipped with a single P-90</p>
                <a href="Obects" class="btn btn-primary margin-top">Læs mere</a>
            </div>
        </div>
    </section>


    <section>
        <div class="card">
            <img src="/images/gas3-500.jpg" class="card-img-top" alt="photo displaying the iconic gas 3 album cover">
            <div class="card-body">
                <h5 class="card-title">Gas 3 Album Cover</h5>
                <p class="card-text">
                    The iconic 1973 gas 3 album cover is based on a wall painting located at Andy’s Bar on Gothersgade in Copenhagen.
                    You can still see it "live" in the dark, atmospheric rooms where the vibe hasn't changed much since 1973.
                </p>
                <a href="Obects" class="btn btn-primary margin-top">Læs mere</a>
            </div>
        </div>
    </section>

    <section>
        <div class="card">
            <img src="/images/wing-logo-album.jpg" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
            <div class="card-body">
                <h5 class="card-title">Gasolin' Wing Logo</h5>
                <p class="card-text">The red, white, and blue Gasolin' logo is inspired by a Morgan sportscar. It perfectly captured the band’s identity: a mix of 1950s Americana, high-speed rock 'n' roll, and a cheeky, working-class "get out of the way" attitude.</p>
                <a href="Obects" class="btn btn-primary margin-top">Læs mere</a>
            </div>
        </div>
    </section>


    <section>
        <div class="card" >
            <img src="/images/Ibanez-ts808-tube-screamer500.jpg" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
            <div class="card-body">
                <h5 class="card-title">Ibanez TS808 Tube Screamer</h5>
                <p class="card-text">The band's sonic palette is further enhanced by the use of effects such as the Ibanez TS808 Tube Screamer, adding a distinctive overdriven edge that cuts through the mix</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>

    <section>
        <div class="card" >
            <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
            <div class="card-body">
                <h5 class="card-title">Fender Stratocoaster</h5>
                <p class="card-text">The Gasoline Band has always been fueled by a raw, high-octane energy that lives up to their name. At the heart of their signature sound is the legendary Fender Stratocaster—the ultimate "workhorse" guitar that provides the spark for their sonic engine.</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>

    <section>
        <div class="card">
            <img src="/images/univox2.png" class="card-img-top" alt="photo displaying a Univox U-915 Uni-Vibe">
            <div class="card-body">
                <h5 class="card-title">Univox U-915 Uni-Vibe</h5>
                <p class="card-text">Franz Beckerlee's innovative use of the Univox U-915 Uni-Vibe contributes to Gasolin's signature swirling, psychedelic textures, giving their rock an adventurous and dynamic quality</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>
</div>




@* CARDS SECTION END *@
