@page
@model RagnarockGasolin.Pages.CardsModel
@{
}
<section>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Gibson Les Paul Junior</h5>
            <p class="card-text">The Les Paul Junior was part of Kim Larsen's arsenal during the peak years of Gasolin', which ran from 1969 to 1978. The Gibson Les Paul Junior is a "no-frills" rock guitar from the mid-50s (originally introduced in 1954) equipped with a single P-90</p>
            <a href="Obects" class="btn btn-primary">Læs mere</a>
        </div>
    </div>
</section>
<section>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
        <div class="card-body">
            <h5 class="card-title">Fender Stratocoaster</h5>
            <p class="card-text">The Gasoline Band has always been fueled by a raw, high-octane energy that lives up to their name. At the heart of their signature sound is the legendary Fender Stratocaster—the ultimate "workhorse" guitar that provides the spark for their sonic engine.</p>
            <a href="Obects" class="btn btn-primary">Læs mere</a>
        </div>
    </div>
</section>