@page
@model RagnarockGasolin.Pages.CardsModel
@{
}

<div class="card" style="width: 18rem; height: 25rem;">
    <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
    <div class="card-body">
        <h5 class="card-title">Gibson Les Paul Junior</h5>
        <p class="card-text">The Les Paul Junior was part of Kim Larsen's arsenal during the peak years of Gasolin', which ran from 1969 to 1978. The Gibson Les Paul Junior is a "no-frills" rock guitar from the mid-50s (originally introduced in 1954) equipped with a single P-90</p>
        <a href="Objects.cshtml" class="btn btn-primary">Læs mere</a>
    </div>
</div>