@page
@model RagnarockGasolin.Pages.CardsModel
@{
}

@* CARDS SECTION ____________________________________________________________________________ *@

<h1 class="title text-center mt-4">EXHIBITION ITEMS</h1>
<div class="cards-section">

    <div class="card">
        <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Gibson Les Paul Junior</h5>
            <p class="card-text">Les Paul Junior-modellen var en fast del af Kim Larsens arsenal i Gasolins storhedstid, som strakte sig fra 1969 til 1978. Gibson Les Paul Junior er en 'no-frills' rockguitar fra midten af 50’erne (oprindeligt introduceret i 1954), der er bestykket med en enkelt P-90 pickup."</p>
            <a href="Obects#gibson" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/gas3-500.jpg" class="card-img-top" alt="photo displaying the iconic gas 3 album cover">
        <div class="card-body">
            <h5 class="card-title">Gasolin' 3 Album Cover</h5>
            <p class="card-text">
                Det ikoniske 1973 "gas 3" album cover er baseret på et vægmaleri på "Andy’s Bar" i Gothersgade i København.
                Det kan stadig opleves "live" i de mørke, atmosfæriske lokaler, hvor stemningen ikke har ændret sig meget siden 1973.
            </p>
            <a href="Obects#gas3" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/wing-logo-album.jpg" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
        <div class="card-body">
            <h5 class="card-title">Gasolin' Wing Logo</h5>
            <p class="card-text">Det røde, hvide og blå Gasolin' logo er inspireret af en Morgan sportsbil. Det indkapsler perfekt bandets identitet: Et mix af 1950er "Americana, high-speed rock 'n' roll", and a fræk, arbejderklasse-agtig her-kommer-jeg attitude.</p>
            <a href="Obects#wing" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/Ibanez-ts808-tube-screamer500.jpg" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Ibanez TS808 Tube Screamer</h5>
            <p class="card-text"> Bandets soniske palette udbygges yderligere gennem brugen af effekter som Ibanez TS808 Tube Screamer, der tilføjer en markant overstyret kant, som skærer igennem mixet  </p>
            <a href="Obects#ibanez" class="btn btn-primary">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
        <div class="card-body">
            <h5 class="card-title">Fender Stratocoaster</h5>
            <p class="card-text">Gasolin' har altid været drevet af en rå, højoktan energi, der lever op til deres navn. Kernen i deres signatur-lyd er den legendariske Fender Stratocaster – den ultimative 'workhorse'-guitar, der leverer gnisten til deres soniske motor.</p>
            <a href="Obects#fender" class="btn btn-primary">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/univox2.png" class="card-img-top" alt="photo displaying a Univox U-915 Uni-Vibe">
        <div class="card-body">
            <h5 class="card-title">Univox U-915 Uni-Vibe</h5>
            <p class="card-text">Franz Beckerlee's innovative use of the Univox U-915 Uni-Vibe contributes to Gasolin's signature swirling, psychedelic textures, giving their rock an adventurous and dynamic quality</p>
            <a href="Obects#univox" class="btn btn-primary">Læs mere</a>
        </div>
    </div>

</div>

@{
    var greeting = "Velkommen til Ragnerocks Gasolin' udstilling! Oplev bandets rejse igennem historien, lær medlemmerne at kende eller dyk ned i de ikoniske elementer i udstillingen. God fest!";    
    int hour = DateTime.Now.Hour;
}

@if (hour < 12)
{
    <p>God morgen!</p>
}
else if (hour > 12 && hour <18)
{
    <p>God eftermiddag!</p>
}
else{
    <p>God aften!</p>
}
@* <p>@greeting!</p>
<p >Klokken er nu: @DateTime.Now.ToString("HH:mm")</p> *@


<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">BESKED FRA ARRANGØRERNE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="discrete">Klokken er nu: @DateTime.Now.ToString("HH:mm")</p>
        <p>@greeting!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

/*JavaScript*/
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var hasSeenPopup = localStorage.getItem('hasSeenWelcomePopup');

    if (!hasSeenPopup) {
      // 1. Initialize the Bootstrap modal
      var modalElement = document.getElementById('myModal');
      var myModal = new bootstrap.Modal(modalElement);
      
      // 2. Show the modal
      myModal.show();

      // 3. Set a timer to hide it after 60 seconds (60,000 ms)
      setTimeout(function() {
        myModal.hide();
      }, 10000); 

      // 4. Mark as seen so it doesn't pop up on every refresh
      localStorage.setItem('hasSeenWelcomePopup', 'true');
    }
  });
</script>

@* CARDS SECTION END *@