@page
@model RagnarockGasolin.Pages.CarouselModel
@{
}
<div class="container">
  <div id="carousel-bandmembers" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="band-member-content">
          <img src="~/images/kim-larsen.jpg" class="carousel-img d-block w-100 rounded-2" alt="Kim Larsen">
          <div class="d-flex justify-content-center">
            <h2 class="fs-1">Kim Larsen</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="band-member-content">
          <img src="~/images/wili-joensson.webp" class="carousel-img d-block w-100 rounded-2" alt="Wili Jønsson">
          <div class="d-flex justify-content-center">
            <h2 class="fs-1">Wili Jønsson</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="band-member-content">
          <img src="~/images/franz-beckerlee.webp" class="carousel-img d-block w-100 rounded-2" alt="Franz Beckerlee">
          <div class="d-flex justify-content-center">
            <h2 class="fs-1">Franz Beckerlee</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="band-member-content">
          <img src="~/images/soeren-berlev.jpg" class="carousel-img d-block w-100 rounded-2" alt="Søren Berlev">
          <div class="d-flex justify-content-center">
            <h2 class="fs-1">Søren Berlev</h2>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="prev">
      <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="next">
      <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
