@page "/historie"
@model RagnarockGasolin.Pages.HistoryAboutBandModel
@{
}

<h1 class="title text-center mt-4">TIDSLINJE</h1>
<div class="container">
    <div class="timeline">    
    <img src="~/images/Tidslinje.png" alt="Gasolin' timeline" />
</div>

<div class="d-flex" >
    <div class="vr"></div>
</div>
<div class="container ">   

    <h3 id="Historieomgasolin" class="text-center">GASOLIN'S HISTORIE</h3>
    <div class="history-grid bg-dark p-4">
        <img class="" src="~/images/startup.webp" alt="">
        <div class="history-text">
            <p>
            Gasolin' blev stiftet i Christianshavn, hvor medlemmerne mødtes og begyndte at spille sammen i et øvelokale i en kælder.</p>
            <p>Til at starte med spillede de hovedsageligt blues og rock, inspireret af engelske og amerikanske bands. I deres tidlige karriere var Gasolin' ikke særlig kendte og gruppen spillede små koncerter i klubber og ungdomshuse i København.</p>
            <p>
            Bandet var kendetegnet ved rå rock iblandet humor med danske sangtekster.
            Især forsangeren Kim Larsen begyndte at skrive sange på dansk, og netop dette gjorde bandet helt specielt, fordi rockbands i den tid hovedsageligt lavede engelske sange.</p>
            
            <p>Bandet var aktivt siden 1969 og de spillede sammen i omkring 9 år.</p>
        </div>
        <img class="" src="~/images/startup1.webp" alt="">
    </div>
</div>

<div class="d-flex" style="height: 80px;">
    <div class="vr"></div>
</div>


<div class="container">
    <h3 id="album" class="text-center">ALBUMS VERDEN RUNDT</h3>
    <div class="history-grid bg-dark p-4">
        <img class="" src="~/images/album.webp" alt="Robots in the Park">
        <div class="history-text">
            <p>Gasolin' var aktive fra 1969 til 1978, og i den årrække lavede de en del musik, herunder omkring 7 studiealbums og flere live-albums. </p>
                <p>Her er en liste over de mest kendte albums:
                    <ul>
                        <li>Gasolin' (1971)</li>
                        <li>Gasolin' 2 (1972)</li>
                        <li>Gasolin' 3 (1973)</li>
                        <li>Stakkels Jim (1974)</li>
                        <li>Gas 5 (1975)</li>
                        <li>Efter endnu en dag (1976)</li>
                        <li>Gør det noget (1977)</li>
                        <li>Killin' Time (1978)</li>
                    </ul>                
                Bandet har yderligere omkring 8-10 live-albums, herunder live og engelske udgivelser.
            </p>
        </div>
        <img class=" " src="~/images/album1.webp" alt="Robots in the Park">
    </div>
</div>


<div class="d-flex" style="height: 80px;">
    <div class="vr"></div>
</div>

<div class="container">    
    <h3 id="danskmusik" class="text-center">ÆNDRER DANSK MUSIK</h3>
    <div class="history-grid bg-dark p-4">
        <img class="" src="~/images/changedmusic.webp" alt="">
        <div class="history-text">
            <p>
                Gasolin' havde en enorm betydning for udviklingen af dansk musik – faktisk er de ofte set som et vendepunkt. Før dem var meget populærmusik i Danmark stærkt inspireret af engelsksprogede kunstnere, men Gasolin’ ændrede spillet på flere måder.</p>
            <p>
                <ul>
                    <li>Sammen med deres forsanger Kim Larsen viste de, at man sagtens kunne lave rå, troværdig rock på dansk</li>
                    <li>De ramte både unge og voksne – deres musik var ikke elitær, men tilgængelig</li>
                    <li>Deres tekster havde humor, samfundskommentarer og hverdagsliv, som mange kunne spejle sig i.</li>
                    <li>De var også kendt for energiske koncerter og en rebelsk stil, som var med til at definere dansk rockkultur.</li>
                </ul>
              </p>
        </div>
        <img class="" src="~/images/changedmusic1.webp" alt="">
    </div>
</div>



<div class="d-flex" style="height: 80px;">
    <div class="vr"></div>
</div>

<div class="container ">  
    <h3 id="endenforgasolin" class="text-center">ENDEN PÅ GASOLIN'</h3>
    <div class="history-grid bg-dark p-4">
        <img class="" src="~/images/splittet.webp" alt="Robots in the Park">
        <div class="history-text">
            <p> Der var flere årsager til at Gasolin' opløstes i 1978, herunder pres udefra, interne konflikter og et naturligt behov for at udvikle sig og arbejde på egne projekter. Vigtist var:
            <ul>
                <li>Efter intens success i Danmark forsøgte bandet at slå igennem i udlandet, især i England og USA. Her arbejdede de bl.a. med produceren Roy Thomas Baker, og de skiftede til engelske tekster, hvilket skabte store frustrationer.                   
                De oplevede ikke det ønskede gennembrud, og der opstod interne konflikter, særligt mellem Kim Larsen, der var mere knyttet de danske rødder og publikum og Franz Beckerlee, der var opsat på det internationale eventyr.                
                </li>
                <li>Samtidig blev Kim Larsen i stigende grad bandets ansigt udadtil - han skrev mange af bandets sange, herunder nogle af bandets støreste hit.
                Populariteten skabte en ubalance i gruppen, hvor nogle medlemmer følte, at Gasolin’ i stigende grad blev synonymt med “Kim Larsen + backingband”.</li>
            </ul>              
            </p>
          
        </div>
        <img class=" " src="~/images/splittet1.webp" alt="Robots in the Park">
    </div>
</div>


<div class="d-flex" style="height: 80px;">
    <div class="vr"></div>
</div>

