@page
@model RagnarockGasolin.Pages.historyaboutband1Model
@{
}

<div class="d-flex" style="height: 100px;">
    <div class="vr"></div>
</div>

<div class="container-fluid ">
    

    <h3 id="Historieomgasolin" class="text-bg-dark text-center">Historien om Gasolin </h3>
    <div class="bg-dark clearfix" style="padding: 20px;">
        <img class="float-start img-300" src="~/images/startup.jpg " alt="" style="padding-right: 20px;">
        <img class="float-end img-300" src="~/images/startup1.jpg" alt="" style="padding-left: 20px;">

        <p class="list-unstyled">
           De mødtes i Christianshavn, hvor de begyndte at spille sammen i et øvelokale i en kælder. I starten spillede de mest blues og rock inspireret af engelske og amerikanske bands.
           I begyndelsen var Gasolin' ikke særlig kendte. De spillede små koncerter i klubber og ungdomshuse i København.

        
           Deres stil var rå rock blandet med humor og danske tekster.
           Det var især forsangeren Kim Larsen, der begyndte at skrive sangene på dansk. Det gjorde bandet specielt, fordi de fleste rockbands dengang sang på engelsk.
        

          Bandet havde været aktive siden 1969, så de spillede sammen i omkring 9 år. 

        </p>

    </div>



</div>

<div class="d-flex" style="height: 100px;">
    <div class="vr"></div>
</div>


<div class="container-fluid">
    <h3 id="album" class="text-bg-dark text-center">Albums verden rundt.</h3>
    <div class="bg-dark clearfix" style="padding: 20px;">
        <img class="float-start img-300" src="~/images/album.jpg" alt="Robots in the Park" style="padding-right: 20px;">
        <img class="float-end img-300 " src="~/images/album1.jpg" alt="Robots in the Park" style="padding-left: 20px;">
        <p>Gasolin' var aktive fra 1969 til 1978, og i den periode nåede de at lave en del musik </p>
        <p class="list-unstyled">
            Bandet udgav omkring 7 studiealbums og flere live-albums. De vigtigste albums er:
            Gasolin' (1971)<br>
            Gasolin' 2 (1972)<br>
            Gasolin' 3 (1973)<br>
            Stakkels Jim (1974<br>
            Gas 5 (1975)<br>
            Efter endnu en dag (1976)<br>
            Gør det noget (1977)<br>
            Killin' Time (1978)<br>
            Der findes også live-albums som Live sådan.
            I alt omkring 8-10 albums, hvis man tæller live og engelske udgivelser med.
        </p>
    </div>

</div>



<div class="d-flex" style="height: 100px;">
    <div class="vr"></div>
</div>

<div class="container-fluid"> 
   
    <h3 id="danskmusik" class="text-bg-dark text-center">Ændret dansk music </h3>
    <div class="bg-dark clearfix" style="padding: 20px;">
        <img class="float-start img-300" src="~/images/changedmusic.png " alt="" style="padding-right: 20px;">
        <img class="float-end img-300" src="~/images/changedmusic1.png" alt="" style="padding-left: 20px;">

        <p class="list-unstyled">
            Gasolin' havde en enorm betydning for udviklingen af dansk musik – faktisk er de ofte set som et vendepunkt. Før dem var meget populærmusik i Danmark stærkt inspireret af engelsksprogede kunstnere, men Gasolin’ ændrede spillet på flere måder.<br>

            - Sammen med deres forsanger Kim Larsen viste de, at man sagtens kunne lave rå, troværdig rock på dansk.<br>
            - De ramte både unge og voksne – deres musik var ikke elitær, men tilgængelig<br>
            - Deres tekster havde humor, samfundskommentarer og hverdagsliv, som mange kunne spejle sig i.<br>
            - De var også kendt for energiske koncerter og en rebelsk stil, som var med til at definere dansk rockkultur.<br>

        </p>
    </div>
</div>



<div class="d-flex" style="height: 100px;">
    <div class="vr"></div>
</div>

<div class="container-fluid ">  
    <h3 id="endenforgasolin" class="text-bg-dark text-center">Enden på Gasolin.</h3>
    <div class="bg-dark clearfix" style="padding: 20px;">
        <img class="float-start img-300" src="~/images/splittet.png" alt="Robots in the Park" style="padding-right: 20px;">
        <img class="float-end img-300 " src="~/images/splittet1.png" alt="Robots in the Park" style="padding-left: 20px;">
        <p> I slutningen af 1970’erne begyndte der at opstå uenigheder i bandet om musikretning og fremtiden. Samtidig ønskede nogle af medlemmerne at arbejde på deres egne projekter </p>
        <p class="list-unstyled">
            kreative uenigheder , pres udefra , interne konflikter og et naturligt behov for at udvikle sig<br>

            - Forsangeren Kim Larsen og guitaristen Franz Beckerlee ville i forskellige retninger , og dette skabte en grundlæggende konflikt om, hvad Gasolin’ egentlig skulle være.<br>
            - Bandet forsøgte at slå igennem i udlandet, især i England og USA. De arbejdede bl.a. med produceren Roy Thomas Baker som som ses på billedet længere oppe.<br>
            de skiftede til engelske tekster og det var både frustrerende og demotiverende, og det skabte tvivl om bandets fremtid.<br>

            - Efter mange års intens succes , opstod der flere konflikter mmellem bandmedlemmerne , samarbejdet er blevet sværere <br>

            - Kim Larsen blev i stigende grad bandets ansigt udadtil , han var den som har skrevet mange sange og nogen af banden støreste hit <br>
            Det skabte ubalance i gruppen, hvor nogle følte, at Gasolin’ mere og mere blev “Kim Larsen + backingband”.<br>
        </p>
    </div>
</div>


<div class="d-flex" style="height: 200px;">
    <div class="vr"></div>
</div>
