@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* CAROUSEL HISTORY SAIF ____________________________________________________________________ *@
<div class="container-fluid  ">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 5"></button>

        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="~/images/gif.gif" class="d-block w-100 vw-100" style="height:500px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lærer om deres vidunderlig rejse! !</h5>
                    <p><a href="/historyaboutband1#album" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">mere end 400 concerter verden over og hele 10 albums .</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/startup.jpg" class="d-block w-100 vw-100" style="height:500px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fra bunden til top </h5>
                    <p><a href="/historyaboutband1#Historieomgasolin" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">Tryk og læs om Gasolin's historie og hvordan de fra bunden har nået toppen.</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/de 4.jpg" class="d-block w-100 vw-100 " style="height:500px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Dansk stolthed </h5>
                    <p> <a href="/historyaboutband1#danskmusik" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">Læs mere om hvordan de 4 legender har ændret dansk musik.</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/splittet.png" class="d-block w-100 vw-100 " style="height:500px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hver succes har en ende  </h5>
                    <p> <a href="/historyaboutband1#endenforgasolin" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">efter 9 års succes og hårdt arbejde.</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/interview.gif" class="d-block w-100 vw-100 " style="height:500px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Se interviewet med Gasolin  </h5>
                    <p> <a href="/historyaboutband1#interview" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"> </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

@* CAROUSEL HISTORY END_____________________________________________________________ *@

@* CARDS SECTION ____________________________________________________________________________ *@

<h1 class="title text-center mt-4">EXHIBITION ITEMS</h1>
<div class="cards-section">

    <div class="card">
        <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Gibson Les Paul Junior</h5>
            <p class="card-text">Les Paul Junior-modellen var en fast del af Kim Larsens arsenal i Gasolins storhedstid, som strakte sig fra 1969 til 1978. Gibson Les Paul Junior er en 'no-frills' rockguitar fra midten af 50’erne (oprindeligt introduceret i 1954), der er bestykket med en enkelt P-90 pickup."</p>
            <a href="Obects#gibson" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/gas3-500.jpg" class="card-img-top" alt="photo displaying the iconic gas 3 album cover">
        <div class="card-body">
            <h5 class="card-title">Gasolin' 3 Album Cover</h5>
            <p class="card-text">
                Det ikoniske 1973 "gas 3" album cover er baseret på et vægmaleri på "Andy’s Bar" i Gothersgade i København.
                Det kan stadig opleves "live" i de mørke, atmosfæriske lokaler, hvor stemningen ikke har ændret sig meget siden 1973.
            </p>
            <a href="Obects#gas3" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/wing-logo-album.jpg" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
        <div class="card-body">
            <h5 class="card-title">Gasolin' Wing Logo</h5>
            <p class="card-text">Det røde, hvide og blå Gasolin' logo er inspireret af en Morgan sportsbil. Det indkapsler perfekt bandets identitet: Et mix af 1950er "Americana, high-speed rock 'n' roll", and a fræk, arbejderklasse-agtig her-kommer-jeg attitude.</p>
            <a href="Obects#wing" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/Ibanez-ts808-tube-screamer500.jpg" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Ibanez TS808 Tube Screamer</h5>
            <p class="card-text"> Bandets soniske palette udbygges yderligere gennem brugen af effekter som Ibanez TS808 Tube Screamer, der tilføjer en markant overstyret kant, som skærer igennem mixet  </p>
            <a href="Obects#ibanez" class="btn btn-primary">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
        <div class="card-body">
            <h5 class="card-title">Fender Stratocoaster</h5>
            <p class="card-text">Gasolin' har altid været drevet af en rå, højoktan energi, der lever op til deres navn. Kernen i deres signatur-lyd er den legendariske Fender Stratocaster – den ultimative 'workhorse'-guitar, der leverer gnisten til deres soniske motor.</p>
            <a href="Obects#fender" class="btn btn-primary">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/univox2.png" class="card-img-top" alt="photo displaying a Univox U-915 Uni-Vibe">
        <div class="card-body">
            <h5 class="card-title">Univox U-915 Uni-Vibe</h5>
            <p class="card-text">Franz Beckerlee's innovative use of the Univox U-915 Uni-Vibe contributes to Gasolin's signature swirling, psychedelic textures, giving their rock an adventurous and dynamic quality</p>
            <a href="Obects#univox" class="btn btn-primary">Læs mere</a>
        </div>
    </div>

</div>


@* CARDS SECTION END *@