@page
@using RagnarockGasolin.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* CAROUSEL HISTORY SAIF ____________________________________________________________________ *@
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item splash active">
                <img src="~/images/gif.webp" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/historie#album" class="text-decoration-none d-flex flex-column rounded-2 text-white px-2 py-1">
                        <span class="young-serif text-primary fs-5">Læs om Gasolin's utrolige rejse</span>
                        <span>mere end 400 concerter verden over og hele 10 albums!</span>
                    </a>                  
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/startup.webp" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">         
                    <a href="/historie#Historieomgasolin" class="text-decoration-none d-flex flex-column rounded-2 text-white px-2 py-1">
                        <span class="young-serif text-primary fs-5">Fra bunden til toppen</span>
                        <span>Fra Christianshavn til stjernerne - Oplev den vilde rejse fra flisebøjer til landets største rockikoner.</span>
                    </a>                    
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/de-4.webp" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/historie#danskmusik" class="text-decoration-none d-flex flex-column rounded-2 text-white px-2 py-1">
                        <span class="young-serif text-primary fs-5">Dansk stolthed</span>
                        <span>Succes, bajere og ren rockmagi - læs hvordan Gasolin' ændrede dansk musik for altid</span>
                    </a>
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/splittet.png" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/historie#endenforgasolin" class="text-decoration-none d-flex flex-column rounded-2 text-white px-2 py-1">
                        <span class="young-serif text-primary fs-5">Hver succes har en ende</span>
                        <span>Efter 9 års succes og hårdt arbejde.</span>
                    </a>               
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/interview.webp" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/Media#interview" class="text-decoration-none d-flex flex-column rounded-2 text-white px-2 py-1">
                        <span class="young-serif text-primary fs-5">Se interviewet med Gasolin</span>
                        <span><br /></span>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

@* CAROUSEL HISTORY END_____________________________________________________________ *@

@* CARDS SECTION ____________________________________________________________________________ *@

<h1 class="title text-center mt-4">UDSTILLING</h1>
<div class="cards-section">

    <div class="card">
        <img src="/images/gibson-500.webp" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h2 class="fs-5 card-title">Gibson Les Paul Junior</h2>
            <p class="card-text">Les Paul Junior-modellen var en fast del af Kim Larsens arsenal i Gasolins storhedstid, som strakte sig fra 1969 til 1978. Gibson Les Paul Junior er en 'no-frills' rockguitar fra midten af 50’erne (oprindeligt introduceret i 1954), der er bestykket med en enkelt P-90 pickup."</p>
            <a href="/udstilling#gibson" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/gas3-500.webp"             
            class="card-img-top" id="gas3"
            alt="photo displaying the iconic gas 3 album cover">
        <div class="card-body">
            <h2 class="fs-5 card-title">Gasolin' 3 Album Cover</h2>
            <p class="card-text">
                Det ikoniske 1973 "gas 3" album cover er baseret på et vægmaleri på "Andy’s Bar" i Gothersgade i København.
                Det kan stadig opleves "live" i de mørke, atmosfæriske lokaler, hvor stemningen ikke har ændret sig meget siden 1973.
            </p>
            <a href="/udstilling#gas3" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/wing-logo-album.webp" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
        <div class="card-body">
            <h2 class="fs-5 card-title">Gasolin' Wing Logo</h2>
            <p class="card-text">Det røde, hvide og blå Gasolin' logo er inspireret af en Morgan sportsbil. Det indkapsler perfekt bandets identitet: Et mix af 1950er "Americana, high-speed rock 'n' roll", and a fræk, arbejderklasse-agtig her-kommer-jeg attitude.</p>
            <a href="/udstilling#wing" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/ibanez-ts808-tube-screamer-500.webp" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h2 class="fs-5 card-title">Ibanez TS808 Tube Screamer</h2>
            <p class="card-text"> Bandets soniske palette udbygges yderligere gennem brugen af effekter som Ibanez TS808 Tube Screamer, der tilføjer en markant overstyret kant, som skærer igennem mixet  </p>
            <a href="/udstilling#ibanez" class="btn btn-primary">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/fender-stratocoaster-500.webp" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
        <div class="card-body">
            <h2 class="fs-5 card-title">Fender Stratocoaster</h2>
            <p class="card-text">Gasolin' har altid været drevet af en rå, højoktan energi, der lever op til deres navn. Kernen i deres signatur-lyd er den legendariske Fender Stratocaster – den ultimative 'workhorse'-guitar, der leverer gnisten til deres soniske motor.</p>
            <a href="/udstilling#fender" class="btn btn-primary">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/object-univox.webp"            
            class="card-img-top" 
            alt="photo displaying a Univox U-915 Uni-Vibe">
        <div class="card-body">
            <h2 class="fs-5 card-title">Univox U-915 Uni-Vibe</h2>
            <p class="card-text">Franz Beckerlees innovative brug af Univox U-915 Uni-Vibe bidrog til Gasolins karakteristiske hvirvlende, psykedeliske teksturer og gav deres rock en eventyrlysten og dynamisk karakter</p>
            <a href="/udstilling#univox" class="btn btn-primary">Læs mere</a>
        </div>
    </div>

</div>


@* CARDS SECTION END *@

@* BANDMEMBERS SECTION __________________________________________________ *@
<section class="container">
    <h2>Bandmedlemmer</h2>
    <div id="carousel-bandmembers" class="carousel slide">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.BandMembers.Length; i++)
            {
                <div class="carousel-item@(i == 0 ? " active" : "")"> @* insert active class to first carousel item only *@
                    <div class="band-member-content">
                        <img
                            src="~/images/@(Model.BandMembers[i].PersonImgSrc)" class="carousel-img d-block w-100 rounded-2"
                            alt="@(Model.BandMembers[i].Name)"
                        >
                        <div class="d-flex flex-column align-items-center justify-content-around">
                            <h3 class="fs-3">@(Model.BandMembers[i].Name)</h3>
                            <a href="@(Model.BandMembers[i].Href)" class="d-flex flex-column align-items-center text-decoration-none text-primary">
                                <img class="qrcode-image" src="~/images/@(Model.BandMembers[i].QrCodeImgSrc)" alt="">
                                <small>Scan QR-koden for at læse om @(Model.BandMembers[i].Name)s biografi</small>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="next">
            <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</section>
@* BANDMEMBERS SECTION END _______________________________ *@
