@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* CAROUSEL HISTORY SAIF ____________________________________________________________________ *@
<div class="container-fluid  ">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner  ">
            <div class="carousel-item active">
                <img src="~/images/startup.jpg" class="d-block w-100 vw-100" style="height:650px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fra bunden til top </h5>
                    <p><a asp-page="/Historyaboutband" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">Try og læse om Gasolins historie og hvordan har fra bunden nået toppen.</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/gif.gif" class="d-block w-100 vw-100" style="height:650px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lærer om deres vunderlig rejse! !</h5>
                    <p><a href="#" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">mere end 400 concerter verden over og hele 7 albums .</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/de 4.jpg" class="d-block w-100 vw-100 " style="height:650px; object-fit:fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Dansk stolthed </h5>
                    <p> <a href="#" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1">Læs mere om hvordan de 4 legender har ændret dansk musik.</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

@* CAROUSEL HISTORY END_____________________________________________________________ *@

@* CARDS SECTION ____________________________________________________________________________ *@

<h1>EXHIBITION ITEMS - an insigt into the Gasolin sound, energy, and style</h1>
<div class="objects-section">
    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
            <div class="card-body">
                <h5 class="card-title">Gibson Les Paul Junior</h5>
                <p class="card-text">The Les Paul Junior was part of Kim Larsen's arsenal during the peak years of Gasolin', which ran from 1969 to 1978. The Gibson Les Paul Junior is a "no-frills" rock guitar from the mid-50s (originally introduced in 1954) equipped with a single P-90</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>


    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/gas3-500.jpg" class="card-img-top" alt="photo displaying the iconic gas 3 album cover">
            <div class="card-body">
                <h5 class="card-title">Gas 3 Album Cover</h5>
                <p class="card-text">
                    The iconic 1973 gas 3 album cover is based on a wall painting located at Andy’s Bar on Gothersgade in Copenhagen.
                    You can still see it "live" in the dark, atmospheric rooms where the vibe hasn't changed much since 1973.
                </p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>

    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/wing-logo-album.jpg" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
            <div class="card-body">
                <h5 class="card-title">Gasolin Wing Logo</h5>
                <p class="card-text">The red, white, and blue Gasolin' logo is inspired by a Morgan sportscar. It perfectly captured the band’s identity: a mix of 1950s Americana, high-speed rock 'n' roll, and a cheeky, working-class "get out of the way" attitude.<br /><br /></p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>
</div>

<div class="objects-section">

    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/Ibanez-ts808-tube-screamer500.jpg" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
            <div class="card-body">
                <h5 class="card-title">Ibanez TS808 Tube Screamer</h5>
                <p class="card-text">The band's sonic palette is further enhanced by the use of effects such as the Ibanez TS808 Tube Screamer, adding a distinctive overdriven edge that cuts through the mix</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>
    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
            <div class="card-body">
                <h5 class="card-title">Fender Stratocoaster</h5>
                <p class="card-text">The Gasoline Band has always been fueled by a raw, high-octane energy that lives up to their name. At the heart of their signature sound is the legendary Fender Stratocaster—the ultimate "workhorse" guitar that provides the spark for their sonic engine.</p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>

    <section>
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="/images/univox2.png" class="card-img-top" alt="photo displaying a Univox U-915 Uni-Vibe">
            <div class="card-body">
                <h5 class="card-title">Univox U-915 Uni-Vibe</h5>
                <p class="card-text">Franz Beckerlee's innovative use of the Univox U-915 Uni-Vibe contributes to Gasolin's signature swirling, psychedelic textures, giving their rock an adventurous and dynamic quality<br /><br /><br /></p>
                <a href="Obects" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </section>
</div>
@* CARDS SECTION END *@