@page
@model RagnarockGasolin.Pages.MediaModel
@{
}
<h1 class="title text-center mt4" style="margin-bottom:50px;">INTERVIEWS OG MUSIK</h1>
<div class="container ">
    <h3 id="interview" class="text-center">1976 talkshow</h3>
    <div style="padding: 10px;">
        <p><iframe class="w-100" width="560" height="315" src="https://www.youtube.com/embed/yNnxwFQpvY0" title="" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen></iframe></p>
        
        <p class="list-unstyled">
            Dansk talkshow fra 1976. Gasolin' gæster Lørdagshjørnet. Den populære danske rockgruppe, der tæller Kim Larsen, Franz Beckerlee, Wili Jønsson og Søren Berlev, spiller også flere numre - bl.a. 'Sirenesangen' og 'Kloden drejer stille rundt'.<br>
        </p>
    </div>            
</div>

<div class="d-flex" style="height: 80px;">
    <div class="vr"></div>
</div>

<div id="#gasolin-interview" class="interview-container">
        <h3>Gasolin' Interview i DR Aftenshowet - 2015</h3>
        <iframe
        class="interview-video"
        src="https://www.youtube-nocookie.com/embed/PoHwxGFGj3s?si=2NeT6i20VZ7Et2nS"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
        </iframe>
    </div>



@* MUSIK______________________________________________________________________ *@

<audio id="kvindeMin" src="~/audio/kvinde-min.mp3"></audio>
<button class="music-button" onclick="toggleMusic()">
  kvinde min
</button>

<audio id="Rabalderstraede" src="~/audio/Rabalderstraede.mp3"></audio>
<button class="music-button" onclick="toggleMusic()">
    Rabalderstræde
</button>

<audio id="vad-goer-vi-nu-lille-du" src="~/audio/vad-goer-vi-nu-lille-du.mp3"></audio>
<button class="music-button" onclick="toggleMusic()">
  'vad gør vi nu lille du
</button>

<audio id="langebro" src="~/audio/langebro.mp3"></audio>
<button class="music-button" onclick="toggleMusic()">
  langebro
</button>

<audio id="this-is-my-life" src="~/audio/this-is-my-life.mp3"></audio>
<button class="music-button" onclick="toggleMusic()">
  this is my life
</button>