@page
@model RagnarockGasolin.Pages.ObectsModel
@{
}

<h1>Museum Objects</h1>
<section class="objects-section">
   <div class="image-container">
        <img   src="/images/kimlarsen600.jpg"
               width="350px;"
               alt="Picture of Kim Larsen using Les Gibson Junior">
   </div>
   <div class="text-container">
        <h2>Les Gibson Junior</h2>
        <p>
            The Les Paul Junior was designed as a high-quality, affordable guitar. Gibson stripped the standard Les Paul down to the basics: no binding, no carved top, one pickup, and just one volume and tone knob. The Junior was equipped with one P-90 "dog-ear" pickup at the bridge, which was actually a stop tailpiece from the standard Les Paul.
        </p>
    </div>
</section>

<section class="objects-section">
    <div class="image-container">
        <img src="/images/Fender2"
             width="350px;"
             alt="Zoomed in picture of a Fender Stratocoaster">
    </div>
    <div class="text-container">
        <h2>Fender Stratocoaster</h2>
        <p>
            While many bands opt for heavy, distorted humbuckers, the Gasoline Band relies on the Strat’s famous "spank" and "quack" to cut through the mix. Whether they are tearing through a blues-rock solo or laying down a rhythmic groove, the Stratocaster’s three single-coil pickups offer the versatility they need to shift gears from a purring idle to a screaming redline.
            Why the Stratocaster Fits the Gasoline Band: The "Bell-like" Tone: Its ability to produce crystal-clear highs allows the lead guitarist to soar over the heavy bass and drums. The Synchronized Tremolo: Essential for those subtle vibratos and "dive bombs" that add a sense of movement to their more psychedelic tracks.
            Ergonomics: The contoured body of the Strat makes it perfect for the high-energy, physical stage presence the Gasoline Band is known for.
            In the hands of the Gasoline Band, the Fender Stratocaster isn't just an instrument; it's the steering wheel. It’s what allows them to navigate the tight turns of a complex bridge before flooring it down the straightaway of a massive chorus.
            Watching them live, you can almost smell the ozone and burnt rubber as the maple fretboard meets a cranked tube amplifier—a classic combination that keeps the Gasoline Band running at full throttle.
        </p>
    </div>
</section>
<section></section>
<section></section>
