@page
@model RagnarockGasolin.Pages.ObectsModel
@{
}

<h1>Museum Objects</h1>
<section class="objects-section">
   <div class="image-container">
        <img   src="/images/kimlarsen600.jpg"
               width="350px;"
               alt="Picture of Kim Larsen using Les Gibson Junior">
   </div>
   <div class="text-container">
        <h2>Les Gibson Junior</h2>
        <p>
            The Les Paul Junior was designed as a high-quality, affordable guitar. Gibson stripped the standard Les Paul down to the basics: no binding, no carved top, one pickup, and just one volume and tone knob.[4] The Junior was equipped with one P-90 "dog-ear" pickup at the bridge, which was actually a stop tailpiece from the standard Les Paul.
        </p>
    </div>
</section>

<section class="objects-section"></section>
<section></section>
<section></section>
