@page
@model RagnarockGasolin.Pages.ObectsModel
@{
}

<h1 class="title">Showcased items</h1>
<p class="young-serif title"> -- an insigt into the Gasolin sound, energy, and style</p>
<section class="objects-grid">
   <div class="image-container">
        <img   src="/images/object-gibson.jpg"                            
               alt="Picture of Kim Larsen using Les Gibson Junior">
   </div>
   <div id="gibson" class="text-container">
        <h2>Gibson Les Paul Junior</h2>
        <p>
            Gasolin's sound is characterized by its raw rock energy fused with melodic Danish pop sensibilities. Their music is marked by gritty guitar riffs and soulful vocals, often delivered with the help of Gibson Les Paul guitars, which provide a robust foundation with their rich, punchy tones.
            The Les Paul Junior was designed as a high-quality, affordable guitar. Gibson stripped the standard Les Paul down to the basics: no binding, no carved top, one pickup, and just one volume and tone knob. The Junior was equipped with one P-90 "dog-ear" pickup at the bridge, which was actually a stop tailpiece from the standard Les Paul.
        </p>
    </div>
</section>

<section class="objects-grid">
    <div id="fender" class="text-container">
        <h2>Fender Stratocoaster</h2>
        <p>
            Instead of opting for heavy humbuckers, the Gasoline Band relies on the Strat’s signature 'spank' and 'quack' to cut through the mix. Its three single-coil pickups provide the versatility to shift gears from a purring idle to a screaming redline, whether during blues-rock solos or rhythmic grooves.</p>
        <p>
            Crystal-clear highs allow the lead to soar over the rhythm section, while the Synchronized Tremolo adds essential vibrato and 'dive bombs' to psychedelic tracks. The Strat’s contoured body matches the band's high-energy stage presence. Live, you can almost smell the ozone and burnt rubber as the maple fretboard meets a cranked tube amplifier—a combination that keeps the Gasoline Band running at full throttle."
        </p>
    </div>
    <div class="image-container">
        <img src="/images/object-fender.jpg"             
             alt="Zoomed in picture of a Fender Stratocoaster">
    </div>
</section>

<section class="objects-grid">
    
    <div class="image-container">
        <img src="/images/object-univox.jpg"                
                alt="Picture of the Univox U-915 Uni-Vibe pedal">
    </div>
    <div id="univox" class="text-container" id="univox">
        <h2>Univox U-915 Uni-Vibe</h2>
        <p>
            Step into the world of iconic soundscapes with the Univox U-915 Uni-Vibe, a legendary pedal known for its ability to replicate the swirling, hypnotic tones that defined the psychedelic era.
            Its unique circuitry captures the essence of the '60s and '70s, delivering a warm, analog texture that both enriches and elevates your guitar's voice.
        </p>
    </div>
</section>

<section class="objects-grid">
    <div id="ibanez" class="text-container">
        <h2>Ibanez TS808 tube screamer</h2>
        <p>
            This iconic pedal is not just an essential part of modern pedalboards, but is also a classic; a legend in the sphere of overdrive effects pedals. Originally made famous by the remarkable Stevie Ray Vaughan, this reissued version brings the same sought-after tones to your fingertips. 
            With just three knobs for Level, Tone, and Overdrive, the pedal provides a mid-boosted overdrive that enhances clarity and sustain, making it ideal for blues and rock genres. Its smooth, warm tone is a hallmark of its classic sound.
            
        </p>
    </div>
    <div class="image-container">
        <img src="/images/object-ibanez.jpg"             
             alt="Picture of the Ibanez TS808 tube screamer">
    </div>
</section>

<section class="objects-grid">

    <div class="image-container">
        <img src="/images/object-gas3.png"             
             alt="Picture of the iconic gas3 album">
    </div>
    <div id="gas3" class="text-container">
        <h2>Gas 3</h2>
        <p>
            This wall painting, Located at Andy’s Bar on Gothersgade in Copenhagen, is a legendary piece of Danish rock history. 
            It was painted by the Dutch artist Tage de Koker and it served as the original inspiration for the cover of the 1973 album Gas 3—which features classics like "Langebro" and "Det var Inga, Katinka og Smukke Charlie på sin egen facon."
            While the wall painting is the source, the actual album cover is a graphic interpretation created by Peder Bundgaard. He intensified the colors and added the iconic Gasolin' typography.
            Fun fact: The Gasolin' band members were frequent guests at Andy’s Bar. So make sure to check it out if you swing by Copenhagen!                        
            
        </p>
    </div>
</section>

<section class="objects-grid">
    <div id="wing" class="text-container">
        <h2>The Wing Logo - Inspired by British Sports Cars</h2>
        <p>
            The logo was designed by the band's "fifth member" and graphic mastermind, Peder Bundgaard.
            He didn't look at other bands for inspiration; he looked at the automotive world. 
            The logo is a direct homage to the Morgan Motor Company emblem (a British manufacturer of classic sports cars). Bundgaard took the classic "winged" car badge and "Gasolin-ified" it by simplifying the lines and making it bolder.
        </p>
    </div>
    <div class="image-container">
        <img src="/images/wing-logo-album.jpg"             
             alt="Picture of the iconic Gasolin' Wing Logo">
    </div>
</section>