@page
@model RagnarockGasolin.Pages.ObectsModel
@{
}

<h1 class="title">Udstilling</h1>
<p class="young-serif title"> -- en indsigt i Gasolin's lyd, energi, og stil</p>
<section class="objects-grid container">
   <div class="image-container">
        <img   src="/images/object-gibson.jpg"                            
               alt="Picture of Kim Larsen using Les Gibson Junior">
   </div>
   <div id="gibson" class="text-container">
        <h2>Gibson Les Paul Junior</h2>
        <p>
            Gasolin's stil er kendetegnet ved en rå rock-energi fusioneret med melodisk, dansk popsensibilitet. Deres musik er præget af rå guitarriffs og sjælefulde vokaler, ofte leveret af Gibson Les Paul-guitarer, som lægger et solidt fundament med deres fyldige og slagkraftige tone.</p>
        <p>
            Les Paul Junior-modellen blev oprindeligt designet som en prisvenlig kvalitetsguitar. Gibson strippede den standardiserede Les Paul helt ned til de basale elementer: ingen kantbindinger, ingen hvælvet top, kun én pickup og blot én volumen- og tonekontrol. Junioren blev udstyret med en enkelt P-90 "dog-ear" pickup ved stolen, som i virkeligheden var et stop-tailpiece fra standard-modellen.
        </p>
    </div>
</section>

<section class="objects-grid container">
    <div id="fender" class="text-container">
        <h2>Fender Stratocoaster</h2>
        <p>
            I stedet for at vælge tunge humbuckere, forlader Gasolin' sig på Strat’ens signatur-”spank” og ”quack” for at skære igennem mixet. Dens tre single-coil pickupper giver alsidigheden til at skifte gear fra en spindende tomgang til et skrigende rødfelt, hvad enten det er under blues-rock-soloer eller rytmiske grooves.</p>
        <p>
            Krystalklar diskant lader lead-spillet svæve over rytmegruppen, mens det synkroniserede tremolo tilføjer uundværlig vibrato og ”dive bombs” til de psykedeliske tracks. Strat’ens konturerede krop matcher bandets højenergiske sceneoptræden. Live kan man næsten lugte ozon og brændt gummi, når ahorngribebrættet møder en cranket rørforstærker – en kombination, der holder Gasoline Band kørende for fuld udblæsning."
        </p>
    </div>
    <div class="image-container container">
        <img src="/images/object-fender.jpg"             
             alt="Zoomed in picture of a Fender Stratocoaster">
    </div>
</section>

<section class="objects-grid container">
    
    <div class="image-container">
        <img src="/images/object-univox.jpg"                
                alt="Picture of the Univox U-915 Uni-Vibe pedal">
    </div>
    <div id="univox" class="text-container" id="univox">
        <h2>Univox U-915 Uni-Vibe</h2>
        <p>           
        Træd ind i en verden af ikoniske lydbilleder med Univox U-915 Uni-Vibe – en legendarisk pedal, der er kendt for sin evne til at genskabe de hvirvlende, hypnotiske toner, som definerede den psykedeliske æra. Dens unikke kredsløb indfanger essensen af 60’erne og 70’erne og leverer en varm, analog tekstur, der både beriger og løfter din guitars klang.
        </p>
    </div>
</section>

<section class="objects-grid container">
    <div id="ibanez" class="text-container">
        <h2>Ibanez TS808 tube screamer</h2>
        <p>
            This iconic pedal is not just an essential part of modern pedalboards, but is also a classic; a legend in the sphere of overdrive effects pedals. Originally made famous by the remarkable Stevie Ray Vaughan, this reissued version brings the same sought-after tones to your fingertips. 
            With just three knobs for Level, Tone, and Overdrive, the pedal provides a mid-boosted overdrive that enhances clarity and sustain, making it ideal for blues and rock genres. Its smooth, warm tone is a hallmark of its classic sound.
            
        </p>
    </div>
    <div class="image-container">
        <img src="/images/object-ibanez.jpg"             
             alt="Picture of the Ibanez TS808 tube screamer">
    </div>
</section>

<section class="objects-grid container">

    <div class="image-container">
        <img src="/images/object-gas3.png"             
             alt="Picture of the iconic gas3 album">
    </div>
    <div id="gas3" class="text-container">
        <h2>Gas 3</h2>
        <p>
            This wall painting, Located at Andy’s Bar on Gothersgade in Copenhagen, is a legendary piece of Danish rock history. 
            It was painted by the Dutch artist Tage de Koker and it served as the original inspiration for the cover of the 1973 album Gas 3—which features classics like "Langebro" and "Det var Inga, Katinka og Smukke Charlie på sin egen facon."
            While the wall painting is the source, the actual album cover is a graphic interpretation created by Peder Bundgaard. He intensified the colors and added the iconic Gasolin' typography.
            Fun fact: The Gasolin' band members were frequent guests at Andy’s Bar. So make sure to check it out if you swing by Copenhagen!                        
            
        </p>
    </div>
</section>

<section class="objects-grid container">
    <div id="wing" class="text-container">
        <h2>The Wing Logo - Inspired by British Sports Cars</h2>
        <p>
            The logo was designed by the band's "fifth member" and graphic mastermind, Peder Bundgaard.
            He didn't look at other bands for inspiration; he looked at the automotive world. 
            The logo is a direct homage to the Morgan Motor Company emblem (a British manufacturer of classic sports cars). Bundgaard took the classic "winged" car badge and "Gasolin-ified" it by simplifying the lines and making it bolder.
        </p>
    </div>
    <div class="image-container">
        <img src="/images/wing-logo-album.jpg"             
             alt="Picture of the iconic Gasolin' Wing Logo">
    </div>
</section>